@import "../../App.css";

.container {
  display: flex;
  gap: 29px;
  padding: 0 43px 0 31px;
}

.left-section {
  width: 30%;
}

.right-section {
  width: 70%;
}

.event-header-section {
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-heading {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0 0 3px 0;
  color: var(--text-black);
}

.sub-text {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: var(--text-grey);
}

.sub-text a {
  color: var(--text-grey);
}

.add-new-btn {
  padding: 15px 25px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--pry-purple);
  border: none;
  border-radius: 54px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  white-space: nowrap;
}

.event-types {
  display: flex;
  gap: 12px;
  margin: 40px 0 10px 0;
}

.event-type {
  width: 127px;
  height: 47px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 8px;
  white-space: nowrap;
}

.modal-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: var(--white);
  border-radius: 10px;
  width: 55%;
  max-height: 75%;
  overflow-y: scroll;
  min-height: 20%;
  position: absolute;
  top: 13%;
  left: 24%;
}

/* ============= */
.scheduler-opts {
  display: flex;
  gap: 17px;
  margin-bottom: 21px;
}

.scheduler-opt {
  display: flex;
  width: 60%;
  justify-content: space-between;
  /* gap: 82px; */
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  padding: 23px 52px 0;
}

.scheduler-opt-item {
  padding-bottom: 19px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--grey-alt-text);
}

.time {
  background-color: #f9f8ff;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #a281ff;
  padding: 4px 15px;
}

.scheduler-opt-item-active {
  border-bottom: solid 2px var(--pry-purple);
  color: var(--pry-purple);
}

.tracker {
  padding: 15px 38px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  /* gap: 13px; */
}
.opt-item {
  padding-bottom: 0;
}

.scheduler-heading {
  background-color: var(--white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.scheduler {
  padding: 27px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scheduler-title {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--pry-purple);
  padding-bottom: 27px;
  border-bottom: solid 4px var(--pry-purple);
  margin-bottom: -1px;
}

.sort-scheduler {
  display: flex;
  gap: 17px;
  padding-bottom: 27px;
  align-items: center;
}

.sort-scheduler .label {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-alt-text);
  white-space: nowrap;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-top: 0.5px solid #d3d3d3;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-dense {
  border-color: var(--light-grey);
  border-width: 0.5px !important;
}

.MuiTypography-root.MuiTypography-body1 {
  padding-left: 22px !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  font-family: "Airbnb Cereal App Medium" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 26px !important;
  color: var(--text-grey) !important;
  padding: 24px 0;
}

.MuiToggleButtonGroup-root {
  display: flex !important;
  flex-direction: row-reverse;
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeSmall.MuiToggleButton-primary:last-child {
  display: none;
}

.MuiButtonBase-root.MuiToggleButton-root.Mui-selected.MuiToggleButton-sizeSmall.MuiToggleButton-primary {
  background: var(--pry-purple);
  border-radius: 3.5px;
  color: var(--white);
  border: none !important;
  padding: 10px 22px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeSmall.MuiToggleButton-primary {
  background: transparent;
  border-radius: 3.5px;
  color: var(--grey-alt-text);
  border: none !important;
  padding: 10px 22px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.MuiTableHead-root {
  display: none !important;
}

.MuiTypography-root.MuiTypography-body2 {
  font-family: "Airbnb Cereal App Medium" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: var(--text-grey) !important;
}

.MuiTableCell-root.MuiTableCell-body {
  padding: 23px 0;
  border-color: var(--light-grey) !important;
  border-width: 0.5px !important;
}

.MuiTableCell-root.MuiTableCell-body:last-child th {
  border: none !important;
}

.MuiGrid-root.MuiGrid-item {
  height: 100%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-height: 100%;
  box-shadow: none;
  border-radius: 15px;
  border: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  background-color: transparent;
}

.MuiBox-root {
  background-color: #fce7dc;
  width: 35%;
  margin-left: 12px;
  border-radius: 13px;
  border: 1px solid #f56c22;
  box-shadow: 0px 4.35264px 10.8816px rgba(245, 108, 34, 0.2);
  padding: 9px 13px !important;
}

.scheduled-event {
  text-align: left;
}

.scheduled-title {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--orange);
}

.scheduled-time {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: var(--orange);
}

.icon-section {
  display: flex;
  justify-content: flex-end;
}

.mob-tracker {
  display: none;
}

.mob-scheduler-opt {
  display: none;
}

.mob-scheduler {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 21px 21px 89px;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
  }

  .scheduler-opts {
    flex-direction: column;
    display: none;
  }

  .scheduler-opt {
    width: auto;
    padding: 16px 37px 0;
  }

  .tracker {
    width: auto;
    padding: 10px 19px;
  }

  .desktop-scheduler {
    display: none;
  }

  .mob-tracker {
    display: flex;
    gap: 10px;
  }

  .mob-left-tracker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .mob-left-tracker .scheduler-opt-item {
    font-size: 12px;
  }

  .mob-left-tracker .mob-timer-play {
    width: 21px;
    height: 21px;
  }

  .mob-sort-scheduler {
    gap: 9px;
    padding-bottom: 0;
  }

  .mob-sort-scheduler .label {
    font-size: 10px;
  }

  .mob-scheduler-opt {
    display: flex;
    padding: 10px 19px 0;
    margin: 9px 0 13px;
  }

  .mob-scheduler-opt .scheduler-opt-item {
    padding-bottom: 10px;
    font-size: 12px;
  }
  .mob-scheduler {
    display: block;
    margin-top: 15px;
  }
}
