@import "../../App.css";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 43px 43px 31px;
}

.page {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: var(--pry-purple);
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 4%;
}

.search-input {
  padding: 13px 24px;
  width: 448px;
  background-color: var(--alt-purple);
  border-radius: 10px;
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--pry-purple);
  border: none;
  outline: none;
}

.search-input::placeholder {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--pry-purple);
}

.search-icon {
  position: absolute;
  right: 24px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-purple);
  border-radius: 5px;
  padding: 8.5px;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 38px;
}

.icon {
  width: 20px;
  height: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1.5px var(--pry-purple);
}

.avatar {
  border-radius: 50%;
}

.mob-nav {
  display: none;
}

.mob-footer {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
  .mob-nav {
    display: block;
    background-color: var(--pry-purple);
    padding: 29px 18px 22px;
  }

  .mob-nav .search-input-container {
    margin-left: 0;
    margin-top: 17px;
  }
  .mob-nav-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-nav-heading .avatar-img {
    border: solid 1.5px var(--white);
    width: 38px;
    height: 38px;
  }

  .mob-nav-heading .avatar-img .avatar {
    width: 35px;
    height: 35px;
  }

  .mob-event-types-container {
    display: none;
  }

  .mob-nav-heading .page-title {
    font-family: "Airbnb Cereal App Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--white);
  }

  .search-input {
    width: 100%;
  }

  .mob-footer {
    height: 89px;
    background-color: var(--white);
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 18px 40px;
    z-index: 99;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .mob-footer-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .mob-footer-items .add-container {
    background-color: var(--pry-purple);
    box-shadow: 0px 2.08955px 5.22388px 1.04478px rgba(106, 53, 255, 0.2);
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
