@import "../../App.css";

.sidebar {
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: clip;
  background-color: var(--pry-purple);
}

.sidebar .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 91px;
}

.sidebar .logo-container .logo {
  width: 54px;
  height: 48px;
}

.sidebar .sidebar-toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 44px;
}

.sidebar .sidebar-toggle-container .sidebar-toggle {
  width: 33px;
  height: 33px;
  margin-right: -14.5px;
}

.sidebar-item-container {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
  padding-left: 21%;
  border-bottom: solid 0.5px var(--sec-purple);
}

.sidebar-item-container:first-child {
  border-top: solid 0.5px var(--sec-purple);
}

.sidebar-item-container .sidebar-item {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 500;
  font-family: "Airbnb Cereal App Medium", sans-serif;
  font-size: 18px;
  line-height: 23px;
  gap: 36px;
}

.sidebar-item-container .sidebar-item .sidebar-item-icon {
  width: 24px;
  height: 24px;
}

.notification-count-container {
  margin-right: 9%;
}

.notification-count-container .notification-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--pry-purple);
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 4px 6px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.btn-container .upgrade-btn {
  padding: 20px 40px;
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--pry-purple);
  background-color: var(--alt-purple);
  border: none;
  border-radius: 105px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.footer-links-container {
  margin-top: 100px;
  padding-left: 21%;
}

.footer-links-container .footer-links .sidebar-item {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 500;
  font-family: "Airbnb Cereal App Medium", sans-serif;
  font-size: 18px;
  line-height: 23px;
  gap: 36px;
  margin-bottom: 21px;
}

.footer-links-container .footer-links .sidebar-item p {
  margin: 0;
}

.footer-links-container .footer-links .sidebar-item .sidebar-item-icon {
  width: 24px;
  height: 24px;
}
