:root {
  --pry-purple: #6a35ff;
  --sec-purple: #8f67ff;
  --alt-purple: #f0ebff;
  --white: #ffffff;
  --yellow: #ffbc00;
  --light-grey: #d3d3d3;
  --body-bg: #f9f8ff;
  --text-black: #202020;
  --text-grey: #6c6c6c;
  --orange: #f56c22;
  --green: #39ba62;
  --grey-alt: #f4f4f4;
  --grey-alt-text: #a0a6b1;
}
